@charset "utf-8";

/* 가운데 영역 */
.container { position: relative; width: 1280px; margin: 0 auto; }

/* row 영역 */
.row { padding: 0 28px; }

/* LAYOUT */
#mNav { display: none; position: absolute; top: 11px; right: 14px; }
#header { width: 100%; border-bottom: 1px solid #c6c6c6; background: #fff; }
#banner { position: relative;  }
#movie { background: #f8f8f8;  }
#event {  }
#opening { background: url(../img/bg01.jpg) no-repeat center top / cover; }
#new {  }



/* tablet, mobile menu */
.ham { display: block; width: 25px; height: 20px; padding: 15px 10px 10px 10px;}
.ham span { position: relative; display: block; width: 25px; height: 4px; background: #580059; }
.ham span::before { content: ''; position: absolute; top: -7px; left: 0; width: 25px; height: 4px; background: #580059; }
.ham span::after { content: ''; position: absolute; bottom: -7px; left: 0; width: 25px; height: 4px; background: #580059; }

/* HEADER */
.header h1 { float: left; }
.header h1 em { padding: 16px 8px 5px 0; display: inline-block; }
.header h1 em img { width: 155px; }
.header h1 strong { display: block; position: absolute; left: 194px; top: 24px; }
.header h1 strong img { width: 126px; }    
.header .nav { float: right; }
.header .nav ul { border-left: 1px solid #c6c6c6; }
.header .nav ul li { float: left; width: 103px;  text-align: center; border-right: 1px solid #c6c6c6;  }
.header .nav ul li a { display: block; padding: 23px 10px; font-size: 17px; font-weight: 700; color: #444; }

/* BANNER */
.banner_menu { overflow: hidden; position: absolute; left: 0; top: 20px; width: 100%; height: 100px; z-index: 10; }
.banner_menu a { color: #fff; font-size: 16px; transition: all 0.3s; display: block; font-weight: 500; }
.banner_menu a:hover { color: #c1c1c1; }
.banner_menu .bm_left { float: left; font-size: 0; }
.banner_menu .bm_left li { position: relative; display: inline-block; margin-right: 43px; }
.banner_menu .bm_left li.total { margin-right: 20px; }
.banner_menu .bm_left li.total a { font-weight: 300; background: #16141a; border: 1px solid #fff; padding: 12px; box-sizing: border-box; }
.banner_menu .bm_left li svg { padding-right: 9px; }
.banner_menu li.line:after { content: ''; width: 1px; height: 14px; background: #fff; position: absolute; right: -18px; top: 50%; transform: translateY(-50%); }
.banner_menu .bm_right { float: right; overflow: hidden; }
.banner_menu .bm_right ul { float: left; }
.banner_menu .bm_right li { position: relative; display: inline-block; text-align: center; margin-right: 35px; }
.banner_menu .bm_right li a { padding: 15px 0; }
.banner_menu .bm_right li.line { }
.banner_menu .bm_right li.white a,
.banner_menu .bm_right li.purple a { width: 142px; box-sizing: border-box;}
.banner_menu .bm_right li.white { margin-right: 10px; }
.banner_menu .bm_right li.white a { background: #d8d6d7; color: #010101; border: 1px solid #3b2a60;  }
.banner_menu .bm_right li.purple { margin-right: 0; }
.banner_menu .bm_right li.purple a { background: #351f66; border: 1px solid #3b2a60; } 

/* Slide */
.slider { width: 100%; overflow: hidden; }
.slider .ss1 { background: url(../img/swiper01.jpg) no-repeat center/cover;  }
.slider .ss2 { background: url(../img/main_slider01_2000.jpg) no-repeat center/cover; }
.slider .ss3 { background: url(../img/main_slider02_2000.jpg) no-repeat center/cover; }

.slider .swiper-slide h2 { display: inline-block; position: relative; margin-top: 200px; font-size: 52px; font-weight: 500; color: #fff; line-height: 70px; }
.slider .swiper-slide h2:after { content: ''; width: 100%; height: 1px; background: rgba(255,255,255,.3); position: absolute; left: 0; bottom: -30px; }
.slider .swiper-slide h2 em { display: block; font-weight: 100;  }
.slider .swiper-slide p { padding-top: 50px; font-size: 22px; font-weight: 400; color: #fff; }

/* movie */
.movie { padding: 100px 0; }
.movie_title { margin-bottom: 74px; }
.movie_title ul { text-align: center; font-size: 0; }
.movie_title li { display: inline-block; width: 210px; border: 1px solid #c4c4c4; margin-right: -1px; background: #fff; }
.movie_title li a { display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700; }
.movie_title li.active a { background: #666; color: #fff; } 
.movie_chart { overflow: hidden; }
.movie_chart > div > div { } 
.movie_chart > div > div:after { content: ''; display: block; clear: both; }
.movie_chart > div > div > div { float: left; margin-right: 20px; width: 288px; }
.movie_chart >div > div > div:first-child {  }
.movie_chart >div > div > div:last-child { margin-right: 0; } 
.movie_chart >div > div > div .poster { position: relative; }
.movie_chart >div > div > div .poster img { display: block; }
.movie_chart >div > div > div .poster .rank { position: absolute; top: 17px; left: 0; width: 50px; line-height: 50px; background: #2d9098; text-align: center; box-shadow: 0 3px 7px rgba(0,0,0,.3);  }
.movie_chart >div > div > div .poster .rank strong { color: #fff; font-size: 18px; text-shadow: 1px 1px 3px rgba(0,0,0,.5); }
.movie_chart >div > div > div .poster .mx { position: absolute; top: 17px; right: 17px; }

.movie_chart >div > div > div .poster .mx span { display: block; width: 102px; height: 22px; line-height: 22px; text-align: center; color: #fff; border: 1px solid #fff; }
.movie_chart >div > div > div .poster .mx span:first-child { margin-bottom: 6px; } 
.movie_chart >div > div > div .poster .mx .m { background-position: 0 -75px; }
.movie_chart >div > div > div .poster .mx .b { background-position: 0 -100px; }

.movie_chart >div > div > div .info { position: relative; height: 123px; background: #fff; padding: 17px; }
.movie_chart >div > div > div .info h3 { margin-bottom: 26px; }
.movie_chart >div > div > div .info h3 span { width: 29px; height: 29px; display: inline-block; margin: 9px 20px 0 0; vertical-align: -2px; }
.movie_chart >div > div > div .info h3 strong { font-size: 28px; font-weight: 700; color: #333; }
.movie_chart >div > div > div .info h3 span.all { background-position: -87px -125px; }
.movie_chart >div > div > div .info h3 span.a12 { background-position: -0px -125px; }
.movie_chart >div > div > div .info h3 span.a15 { background-position: -29px -125px; }
.movie_chart >div > div > div .info h3 span.a19 { background-position: -58px -125px; }
.movie_chart >div > div > div .info .info_btn {  }
.movie_chart >div > div > div .info .info_btn a { position: absolute; display: inline-block; background: #f2f2f2; font-size: 18px; font-weight: 500; padding: 15px 26px; bottom: 20px;  }
.movie_chart >div > div > div .info .info_btn a:first-child { left: 17px;  } 
.movie_chart >div > div > div .info .info_btn a:last-child { right: 17px;  } 

/* event */
.event { padding: 100px 0; overflow: hidden; }
.event h2 { font-size: 30px; font-weight: 500; margin-bottom: 24px; }
.event img { vertical-align: top; }
.event .event_left { float: left; width: 66%; margin-right: 2%; }
.event .event_right { float: left; width: 32%; }
.event .event_left .event_box1 { width: 50%; float: left; }
.event .event_left .event_box2 { width: 50%; float: left; }

/* opening */
.opening { padding: 100px 0; text-align: center; color: #bb9b51; }
.opening h2 { font-size: 0; }
.opening h2 .grand { background-position: 0 -175px; display: inline-block; width: 330px; height: 40px; }
.opening .date { background-position: 0 -225px; display: inline-block; width: 260px; height: 28px; margin: 28px 0; }
.opening .desc { font-size: 30px; font-weight: 400; padding-bottom: 34px; background: url(../img/bar.png) no-repeat bottom / 100%; }
.opening .open_box { overflow: hidden; padding: 20px 3% 0 3%; }
.opening .open_box > div { position: relative; float: left; padding: 60px 0 18px; width: 27.333%; margin: 4% 3% 0 3%; border: 1px solid #3e4b44; box-sizing: border-box; background: rgba(0,0,0,.5); border: 1px solid rgba(255,255,255,.5); }
.opening .open_box div h3 { min-width: 92px;  position: absolute; left: 50%; top: -13px; transform: translateX(-50%); padding: 0 20px; height: 58px; line-height: 58px; color: #fff; font-size: 19px; font-weight: 300; border: 1px solid #764deb; background: #2b1b59; }
.opening .open_box div p { color: #fff; font-size: 23px; line-height: 40px; font-weight: 700; }
.opening .open_box div p em,
.opening .open_box div p strong { display: block;  }

/* new */
.new { padding: 100px 0; position: relative; }
.new h2 { font-size: 30px; font-weight: 500; margin-bottom: 22px; }
.new .new_left { position: relative; max-width: 808px; height: 610px; background:#ccc url(../img/new01.jpg) no-repeat center / cover; margin-right: 423px; }
.new .new_left .play { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 120px; height: 120px;  }
.new .new_left .play .st0 { fill:#fff; opacity: 0.3; }
.new .new_left .play .st1 { fill:#fff; }
.new .new_right { position: absolute; right: 0; top: 151.6px; width: 400px; height: 610px; background: #f0f0f0; padding: 36px; box-sizing: border-box; }
.new .new_right .title { font-size: 28px; font-weight: 500; }
.new .new_right .release { display: block; padding: 20px 0 14px; font-size: 12px; color: #333; font-weight: 400; }
.new .new_right .star { padding-bottom: 15px; font-size: 0;  }
.new .new_right .star span { display: inline-block; margin-right: 8px; font-size: 14px; }
.new .new_right .star span:last-of-type { color: #999; } 
.new .new_right .star strong { font-size: 15px; color: #333; font-weight: 700; }
.new .new_right .summary { font-size: 14px; }
.new .new_right .summary li { line-height: 22px; color: #6d6d6d; }
.new .new_right .summary li.desc { padding-top: 24px; height: 108px; overflow: hidden; }

.new .new_right .select { overflow: hidden; position: absolute; left: 36px; bottom: 36px; width: 320px; }
.new .new_right .select .s1 { float: left; width: 49%; margin-right: 2%; background: #000; }
.new .new_right .select .s2 { float: left; width: 49%; background: #000; }
.new .new_right .select .s3 { float: left; margin-top: 2%; width: 100%; }
.new .new_right .select .btn { float: left; width: 100%; overflow: hidden; margin-top: 2%; text-align: center; }
.new .new_right .select .btn a { float: left; width: 49%; display: block; box-sizing: border-box; padding: 10px 30px 12px 30px; }
.new .new_right .select .btn a.white { background-color: #fff; margin-right: 2%; color: #3a0e6a; border: 1px solid #3a0e6a; }
.new .new_right .select .btn a.purple { background-color: #3a0e6a; color: #fff; border: 1px solid #6e40c4; } 









/* media query */
@media screen and (max-width:1290px){
    .container { width: 100%; }
    .header .nav ul li { width: 93px;  }
    .header .nav ul li a { font-size: 15px; padding: 17px 10px; }
    .header h1 em { padding: 11px 8px 5px 0; }
    .header h1 strong { top: 19px; }
    
    .slider .swiper-slide h2 { margin-left: 30px; }
    .slider .swiper-slide p { margin-left: 30px; }
}

@media screen and (max-width:1024px){
    #mNav { display: block; }
    .row { padding: 0 24px; }
    .header h1 { float: none; text-align: center; }
    .header h1 strong { left: 24px; }
    .header .nav { display: none; }
    
    .banner_menu .bm_left ul { display: none; }
    .banner_menu .bm_right ul:first-child { display: none; }
    
    .movie_chart >div > div > div .info .info_btn a { font-size: 18px; font-weight: 500; padding: 15px 10px; }
    
}

@media (max-width:960px){
    .swiper-button-prev, .swiper-button-next { display: none; }
    .slider { height: 500px; }
    .slider .swiper-slide h2 { margin-top: 160px; font-size: 37px; line-height: 45px; }
    .slider .swiper-slide p { padding-top: 35px; font-size: 16px; }
    .slider .swiper-slide h2:after { bottom: -15px; }
    
    .movie_title ul { width: auto; }
    .movie_title li { width: 25%; box-sizing: border-box;  }
    
    .opening { padding: 48px 0; }
    .opening .desc { font-size: 26px; } 
    
    .new .new_right{  padding: 36px 36px 160px; }
}

@media (max-width:768px){
    body { background: #ecdceb; }
    #mNav { right: 6px; }
    .row { padding: 0 16px; }
    .header h1 { text-align: left; }
    .header h1 strong { display: none; }
    
    #movie { background: transparent; }
    #movie .row,
    #event .row,
    #new .row { margin: 24px; padding: 0 24px; background: #fff; }
    .movie, .event, .new { padding: 24px 0; background: #fff; }
    
    .movie .ir_so { position: static; width: auto; height: auto; line-height: normal; text-indent: 0; font-size: 24px; font-weight: bold; padding-bottom: 20px; }
    .movie_title { margin-bottom: 30px; }
    .movie_title ul { position: relative; text-align: left; }
    .movie_title ul:before { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: #e1e1e1; } 
    .movie_title li { width: auto; border: 0; }
    .movie_title li a { position: relative; font-size: 18px; color: #666; font-weight: 400; padding: 0 0 20px 0; margin-right: 30px; }
    .movie_title li.active a { background: transparent; color: #666;  }
    .movie_title li.active a:after { position: absolute; content: ''; left: 0; bottom: 0; width: 100%; height: 2px; background-color: #222;   }
    .movie_chart >div > div > div .info .info_btn a { padding: 15px 26px; }

    .event h2 { font-size: 24px; }
    .event .event_right { display: none; }
    .event .event_left { width: 100%; margin-right: 0; }
    .opening .open_box { display: none; }
    
    .new .new_left { margin-right: 0; height: 400px; }
    .new .new_right{ width: 100%; position: relative; top: 0; height: auto; }
    .new .new_right { width: 100%; }
    .new .new_right .select { width: calc(100% - 72px); }
    
}

@media (max-width:600px){
    .banner_menu { top: 16px; }
    .banner_menu  .bm_right li.white a, .banner_menu  .bm_right li.purple a { width: 120px; font-size: 14px; padding: 8px 0px; color: #fff; background: rgba(0,0,0,.6); border: 1px solid #fff; }
    
    .slider { height: 400px; }
    .slider .swiper-container { max-height: 400px; }
    .slider .swiper-slide h2 { margin-top: 120px; font-size: 24px; line-height: 35px; }
    .slider .swiper-slide p { padding-top: 25px; font-size: 14px; }
    .slider .swiper-slide h2:after { bottom: -10px; }
    
    .swiper-pagination-bullet {
          width: 13px !important;
          height: 13px !important;
    }   
    #movie .row { position: relative; margin: 8px; padding: 16px; margin-right: 0; padding-right: 0; }
    #movie .container:after { content: ''; position: absolute; z-index: 3; top: 0; right: 0; width: 8px; height: 100%; background: #ecdceb; }
    #movie .row:after { content: ''; position: absolute; z-index: 1; top: 0; right: 0; width: 24px; height: 100%; background: #fff; }
    
    .movie .ir_so { font-size: 18px; }
    .movie_title { margin-bottom: 20px; position: relative; z-index: 2; }
    .movie_title ul { overflow: hidden; white-space: nowrap; overflow-x: auto; }
    .movie_chart { position: relative; z-index: 20; }
    .movie_title li a { padding: 0 0 11px 0; font-size: 14px; }
    .movie_chart >div > div > div .info { padding: 20px; height: 142px; text-align: center; box-sizing: border-box; border: 1px solid #ddd; }
    .movie_chart >div > div > div .info h3 {  }
    .movie_chart >div > div > div .info h3 span { display: none; }
    .movie_chart >div > div > div .info h3 strong { font-size: 20px; font-weight: 500; }
    .movie_chart >div > div > div .info .info_btn { }
    .movie_chart >div > div > div .info .info_btn a:first-child { bottom: 35px; padding: 12px 5px; width: 52%; left: 50%; transform: translateX(-50%); box-sizing: border-box;  }
    .movie_chart >div > div > div .info .info_btn a:last-child { display: none; }
    
    #event .row { margin: 8px; padding: 16px; }
    .event { padding: 0; }
    .event h2, .new h2 { font-size: 18px; margin-bottom: 10px; }
    
    .opening { padding: 20px 0px; }
    .opening h2 .grand { background-position: 0 -105px; background-size: 300px; width: 198px; height: 24px; }
    .opening .desc { font-size: 20px; font-weight: 400; width: 300px; margin: 0 auto; line-height: 22px; }
    .opening .date { margin: 16px 0; }
    
    #new .row { margin: 8px; padding: 16px; }
    .new { padding: 0; }
    .new .new_right { padding: 16px 16px 200px; width: 100%;  }
    .new .new_right .release { padding: 20px 0 10px; }
    .new .new_right .star { padding-bottom: 9px; }
    .new .new_right .select { left: 16px; bottom: 16px; width: calc(100% - 32px);  }
    .new .new_right .select .s1,
    .new .new_right .select .s2 { float: none; width: 100%; }
    .new .new_right .select .s1 { margin-right: 0; margin-bottom: 2%; }
    

}

@media (max-width:480px){
    .movie_title li a { margin-right: 20px; }
}
















    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
